@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1432px;
  --breakpoint-2xl: 1432px;
  --font-2: "Staatliches", sans-serif;
}

@font-face {
  font-family: "HarleyStyle";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/harley-style-brush.otf") format("truetype");
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.swiper-button-prev, 
.swiper-button-next {
  color: #ddd !important;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 60px !important;
  height: 60px !important;
  transition: all 0.2s ease-in;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 28px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  border-color: #333;
  color: #333 !important;
}


